<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ayurvihar.somaiya.ayurvihar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LoginTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Family" />
        <activity android:name=".Activity.WellWoman" />
        <activity android:name=".Activity.Under5.Under5" />
        <activity android:name=".Activity.Family_Form_New" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.NCD" />
        <activity android:name=".Activity.Under5.Under5_Add_Child_Record" />
        <activity android:name=".Activity.Under5.Under_5_Update_Child_Record" />
        <activity android:name=".Activity.Under5.Under5_Immunization_Search" />
        <activity android:name=".Activity.Under5.Under5_OnePlace" />
        <activity android:name=".Under5_Scroll_View"></activity>
    </application>

</manifest>